.Main {
  height: 80%;
  width: 100%;
  /* background-color: chartreuse; */
  display: flex;
  border-bottom-right-radius: 30px;
  position: relative;
}

.left_list {
  height: 90%;
  width: 50%;

}

.Main_left {
  color: wheat;
  border-radius: 20px;
  margin-bottom: 5%;
  margin-left: 10%;
  height: 40px;
  width: 200px;
  position: absolute;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main_right {
  /* border-radius: 20px;
    height: 90%;
    width: 45%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: wheat;
  width: 350px;
  height: 350px;
  left: 370px;
  top: 20px;
  position: absolute;
  border-radius:100%;
  /* background-color: chocolate; */
}