.App {
  text-align: center;
  height: 90vh;
  width: 90vw;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  margin-left: 5vw;
  margin-top: 5vh;
  display: flex;
}
.Right{
  height: 100%;
  width: 70%;
}
